.logoWrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.langSwitchWrapper {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 116px;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: -20px;
}

.inputWrapper {
    width: 100%;
    box-sizing: border-box;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subtitle {
    width: 100%;
    margin-top: 6px;
    font-size: 12px;
}

.halfSep {
    height: 1;
    margin: 8px;
}

.line {
    height: 0.5px;
    width: 100%;
    background-color: rgb(189, 201, 208);
}

.stampWrapper {
    position: absolute;
    width: fit-content;
    height: 120px;
    padding: 30px 30px;
    top: -15px;
    rotate: 5deg;
    border: 2px solid lightgray;
    border-radius: 4px;
    opacity: 0.3;

    font-size: 14px;
}

.stamp {
    position: absolute;
    top: 8px;
    bottom: 0;
    rotate: 25deg;
    opacity: 0.15;
}

.langBttn {
    display: flex;
    flex-direction: row;
    width: 44px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}

.active {
    border-bottom: 0.5px solid lightgray;
}
