.main {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.input {
    margin-top: 4px;
    padding: 0 12px;
}

.cardBG {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: lightgray;
    opacity: 0.2;
    z-index: -1;
}

.caseCard {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    padding: 12px;
    margin-right: 24px;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    cursor: pointer;
}

.caseCard:hover {
    background-color: #ccc;
}

.caseCard:active {
    scale: 0.98;
}

.cardElementTop {
    align-self: flex-start;
    margin-left: 4px;
}

.cardElementCenter {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: "100%";
    justify-content: center;
    align-items: center;
}

.cardElementFooter {
    align-self: flex-end;
}

.searchWrapper {
    width: 35vw;
}

.fullProblemWrapper {
    flex: 1;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 4px;
}

.bttnsWrapper {
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: space-between;
}

.checkBoxLeft {
    margin-left: 12px;
}

.checkBoxRight {
    margin-right: 12px;
}

.sep {
    height: 1px;
    margin: 28px 0;
}

.sepHorizontalCard {
    height: 1px;
    width: 50%;
    margin: 6px;
    background-color: whitesmoke;
}

.suggestionsWrapper {
    display: flex;
    flex-direction: column;
}

.addTitle {
    margin: 0 12px;
}

.dullGray {
    color: rgb(174, 174, 174);
    margin-bottom: 4px;
}

.addBttn {
    height: 26px;
}

.halfSep {
    height: 1;
    margin: 24px 0;
}

.sepVertical {
    display: flex;
    align-self: stretch;
    width: 1px;
    margin: 12px 40px;
    background-color: lightgray;
}

.sepHorizontal {
    height: 1px;
    align-self: stretch;
    background-color: lightgray;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
}

.callCard {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 48px;
    width: fit-content;
    text-wrap-mode: nowrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    margin-right: 12px;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.callCard:hover {
    background-color: #ccc;
}

.callCard:active {
    scale: 0.98;
}

.scrollX {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

.nextDialWrapper {
    width: fit-content;
    padding-left: 12px;
    margin-left: 12px;
    border-left: 1px solid lightgray;
}
