.header {
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 24px;
    margin-bottom: 12px;
}

.addWrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 2vh;
}

.inputsWrapper {
    padding-top: 36px;
    padding-left: 36px;
    padding-right: 36px;
}

.mrgTop {
    margin-top: 16px;
}
