.inputWrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 48px;
    align-items: center;
    border-radius: 4px;
}

.label {
    display: flex;
    width: fit-content;
    margin-right: 24px;
}

.input {
    display: flex;
    flex: 1;
    height: 48px;
    box-sizing: border-box;
    padding: 0 12px;
    align-items: center;
    border: none;
    border-bottom: 0.5px solid #ccc;
    outline: none;
    background: transparent;
    padding-bottom: 6px;

    font-size: 16px;
    color: black;
}

.input:hover {
    border-bottom: 0.5px solid #a5a4a4;
}

.link {
    display: flex;
    flex: 1;
    height: 46px;
    padding-bottom: 4px;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    color: rgb(106, 106, 243);
}

.iconWrapper {
    display: flex;
    width: fit-content;
    box-sizing: border-box;
    padding: 12px;
    margin-right: 12px;
}
