.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
  height: 100vh;
  background: url("/images/userbook_bg.png") center/cover no-repeat;
  overflow-y: auto;
}
