.bttn {
    all: unset;

    display: flex;
    height: 60px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.bttn:hover {
    opacity: 0.85;
    background-color: rgb(230, 230, 230);
}

.bttn:active {
    opacity: 0.85;
    background-color: rgb(225, 225, 225);
}
