.bttn {
    all: unset;

    display: flex;
    height: 26px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius: 4px;
    color: ghostwhite;
    background-color: lightskyblue;
    cursor: pointer;

    font-size: 14px;
}

.bttn:hover {
    opacity: 0.85;
}

.bttn:active {
    scale: 0.98;
}
