.window {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px 70px;
  padding-bottom: 110px;
  background: url("/images/userbook_bg.png") center/cover no-repeat;
  background-attachment: fixed;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bttn {
  all: unset;

  display: flex;
  height: 30px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  border-radius: 4px;
  color: ghostwhite;
  background-color: yellowgreen;
  cursor: pointer;

  font-size: 14px;
}

.bttn:hover {
  opacity: 0.85;
}

.sep {
  height: 1;
  margin: 12px;
}

.dullGray {
  color: rgb(189, 201, 208);
}
