.window {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.screen {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 40px 20px;
    padding-bottom: 110px;
    background: url("/images/userbook_bg.png") center/cover no-repeat;
    background-attachment: fixed;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dullGray {
    color: rgb(189, 201, 208);
}
