.window {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.screen {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 40px 20px;
    padding-bottom: 30px;
    background-attachment: fixed;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
