.headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addWrapper {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex: 1;
    padding: 0 12px;
}

.label {
    margin-top: 18px;
    margin-right: 24px;
}
