.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.emptyWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
