.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.listWrapper {
  display: flex;
  height: 60vh;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 100px;
  padding-left: 18px;
  padding-right: 18px;
}

.title {
  margin-bottom: 12px;
}

.bttn {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-width: 1px;
  border-radius: 6px;
  cursor: pointer;
}

.bttn:hover {
  opacity: 0.85;
  background-color: rgb(230, 230, 230);
}

.bttn:active {
  opacity: 0.85;
  background-color: rgb(225, 225, 225);
}
