.header {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 24px;
  margin-bottom: 12px;
}

.subheader {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  padding-left: 60px;
  padding-bottom: 12px;
  border-bottom: 0.5px solid #ccc;
}

.subheaderTitle {
  width: 10vw;
  padding-left: 16px;
  border-left: 1px solid #ccc;
  margin: 0px 16px;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 0.5px solid #ccc;
  cursor: pointer;
  border-radius: 6px;
}

.itemWrapper:hover {
  opacity: 0.85;
  background-color: rgb(230, 230, 230);
}

.itemWrapper:active {
  opacity: 0.85;
  background-color: rgb(225, 225, 225);
}

.iconWrapper {
  margin-right: 10px;
}

.userItem {
  width: 10vw;
  margin: 0px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bttnWrapper {
  display: flex;
  margin: 50px 0px;
}

.bttn {
  display: flex;
  align-items: center;
  padding: 20px;
  border-width: 1px;
  border-radius: 6px;
  cursor: pointer;
}

.bttn:hover {
  opacity: 0.85;
  background-color: rgb(230, 230, 230);
}

.bttn:active {
  opacity: 0.85;
  background-color: rgb(225, 225, 225);
}

.addIcon {
  margin-right: 12px;
}

.forwardWrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
