.redirectBttnWrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: -20px;
    cursor: pointer;
    font-size: 12px;
}

.logoWrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.langSwitchWrapper {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 116px;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: -20px;
}

.section {
    width: 100%;
}

.langBttn {
    display: flex;
    flex-direction: row;
    width: 44px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}

.active {
    border-bottom: 0.5px solid lightgray;
}
